.message-container {
    animation: spawn-message forwards 150ms;
}

@keyframes spawn-message {
    0% {
        transform: translateY(-30%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}