.message-container {
    animation: spawn-message forwards 150ms;
}

@keyframes spawn-message {
    0% {
        transform: translateY(-30%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

markdown > a {
    color: rgb(158, 164, 255);
    transition: 75ms;
}

markdown > a:hover {
    color: rgb(110, 119, 241)

}