<main class="bg-neutral-950 h-screen flex flex-col gap-4  lg:gap-8 text-white overflow-hidden">
    
    @if (isLoading || !user) {
        <div class="w-full h-full flex justify-center items-center">
            <div class="loader"></div>
        </div>
    } @else {
        <app-header exit-href="/kyf"></app-header>
        <div class="flex w-fill h-full flex-col lg:flex-row">
            <section class="flex flex-1 justify-center items-center p-8">
                <div class="w-[50ch] flex flex-col gap-8">
                    <h1 class="font-bold text-3xl">Vincular redes sociais</h1>
                    <p class="text-justify">Para fazer uma  análise aprofundada de seu perfil, vincule sua rede social à conta.

                        Nós iremos utilizar seus posts curtidos e visualizados para construir uma imagem melhor sobre você.</p>
                    <div class="flex gap-4">
                        
                        <button class="p-4 flex-1 bg-red-500 shadow-2xl shadow-red-600/20 text-white rounded-md cursor-pointer" (click)="redditAuth()">Reddit {{redditUser?.providerUserNickname ? ` - ${redditUser?.providerUserNickname}` : ""}}</button>
                        <button class="p-4 flex-1 bg-white text-black rounded-md cursor-pointer" (click)="twitterAuth()">X/Twitter</button>
                        <!-- <button class="p-4 flex-1 bg-gradient-to-tr from-blue-600 to-pink-600 text-white rounded-md cursor-pointer font-bold" (click)="tiktokAuth()">Tiktok</button> -->
                        <!-- <button class="p-4 flex-1 bg-gradient-to-tr from-yellow-600 to-rose-600 rounded-md cursor-pointer font-bold" (click)="instagramAuth()">Instagram</button> -->
                    </div>
                </div>
            </section>
            <section class="flex flex-1 p-8">
                <div class="flex flex-col interaction-holder border border-neutral-700 p-8 w-full rounded-md gap-4">
                    <h1 class="text-xl">Suas interações recentes com a fúria</h1>
                    @if (user.socialMediaPost.length < 1) {
                        <div class="w-full h-full flex justify-center items-center text-center">
                            Nenhum post recente relacionado à fúria encontrado.<br>
                            Tente se conectar ou reconectar ao Reddit
                        </div>
                    } @else {
                        @for (post of user.socialMediaPost; track post.postUrl) {
                            <a [href]="post.postUrl" class="post !text-white hover:bg-neutral-900 hover:border-neutral-800 border border-neutral-900 duration-75 rounded-md w-full p-4 flex flex-col gap-4 cursor-pointer">
                                <p class="text-xl">
                                    {{ post.postTitle }}
                                </p>
                                <div class="max-h-40 overflow-auto">
                                    <markdown class="">{{ post.postDescription }}</markdown>
                                </div>
                                <footer class="flex justify-between"><p class="font-bold">{{ post.socialMedia }}</p><p>Tipo de Interação - {{ post.interactionType }}</p></footer>
                            </a>
                        }
                    }
                </div>
            </section>
        </div>
    }
</main>